:root {

  --midnight-blue: rgba(9, 4, 70, 1);

  --midnight-blue2: rgba(9, 4, 70, 0.9);

  --gold-fusion: rgba(120, 111, 82, 1);

  --yellow-orange: rgba(254, 185, 95, 1);

}

* {
  border: 0;
  color: var(--yellow-orange);
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px var(--gold-fusion);
}

main {
  background-color: var(--midnight-blue2);
  display: flex;
  flex-wrap: wrap;
}

header {
  padding: 20px;
  text-align: center;
  width: 100%;
}

h2 {
  padding: 15px;
  text-align: center;
}

.solar-system {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/24/03/41/starry-sky-2675322_960_720.jpg');
  border-bottom: 3px solid var(--yellow-orange);
  border-top: 3px solid var(--yellow-orange);
  width: 100%;
}

.solar-system ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 10px;
}

.solar-system li {
  text-align: center;
}

.solar-system p {
  font-weight: 700;
  margin-bottom: 15px;
}

.solar-system img {
  width: 150px;
}

.missions {
  width: 100%;
}

.missions ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.missions li {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/24/03/41/starry-sky-2675322_960_720.jpg');
  border-radius: 15px;
  box-shadow: 4px 4px 5px var(--midnight-blue);
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.title {
  border-bottom: 1px solid lightgray;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
}

.App {
  text-align: center;
}
